<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <footer>
        <div class="footer">
            <div class="phone">
                <h3>Phone</h3>
                <p>9302350696</p>
            </div>
            <div class="email">
                <h3>Email</h3>
                <p>shindevaishnavi992@gmail.com</p>
            </div>
            <div class="follow me">
                <h3>Follow Me</h3>
                <div class="logo">
                    <a href="https://www.linkedin.com/in/VaishnaviShinde100/"><i class="fa-brands  fa-linkedin"></i></a>
                    <a href="https://github.com/vaishnavi-shinde-100"><i class="fa-brands  fa-github"></i></a>
                    <a href="https://www.instagram.com/miss_shinde1603/?hl=en"><i
                            class="fa-brands fa-instagram"></i></a>
                </div>

            </div>
            <div class="phone">
                <p>by vaishnavi shinde</p>
                <p>secured by vs</p>
            </div>
        </div>
    </footer>
</body>

</html>
