<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project using HTML,CSS</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <nav class="navbar">
        <h2><a href="http://localhost:8080/project">Portpolio Page</a></h2>
        <ul>
            <li><a href="http://localhost:8080/project/resume">Resume</a></li>
            <li><a href="http://localhost:8080/project/project">Project</a></li>
            <li><a href="http://localhost:8080/project/contact">Contact</a></li>
            <li><a href="http://localhost:8080/project/edit">edit </a></li>
        </ul>
    </nav>

    <div class="main">
        <div class="image">
        </div>
        <div class=" main-content">
            <h1>Vaishnavi Shinde</h1><br>
            <h2>About me!</h2><br>
            <div class="phara">
                <p>
                    Hello!<br>
                    My name is Vaishnavi Shinde. I am Software <br> Engineering student.
                    Nom I am in 2nd year. I <br> am pursuing Engineering from TSEC college.
                    <!-- I am also intrested in web devlopment that's I am pursuing web
                    devlopment course from Apnacollege. I really love learn from shradha
                    maam. I am also complited DSA in computer. I am lear c++ language on youtube
                    from Raghav sir. In c++ language if-else and loops are complete pattern printin
                    is continue. -->
                </p><br>
                <div class="boxes">
                    <div class="box" id="box1"><a href="http://localhost:8080/project/resume">Resume </a></div>
                    <div class="box" id="box2"><a href="http://localhost:8080/project/project">Project</a></div>
                    <div class="box" id="box3"><a href="http://localhost:8080/project/contact">Contact</a></div>

                </div>

            </div>

        </div>

    </div>

    <%- include("includes/footer.ejs") %>



</body>

</html>
