<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project page</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <nav class="navbar" id="navbar" style="background-color: rgb(253, 218, 218);">
        <h2><a href="http://localhost:8080/project">Portfolio Page</a></h2>
        <ul>
            <li><a href="http://localhost:8080/project/resume">Resume</a></li>
            <li><a href="http://localhost:8080/project/project">Project</a></li>
            <li><a href="http://localhost:8080/project/contact">Contact</a></li>
        </ul>
    </nav>

    <div class="projects">
        <h2 class="heading">Projects</h2>
        <div class="info">
            <h3>Google Clone</h3>
            <span class="containt">
                <p class="paragraph">Google Clone create using HTML and CSS only. This is very simple and intresting
                    project
                    in this project i am given one input and add app icons. These app icons link with there websites and
                    add hover effect on app icons. This is responsive. Google Clone is my first self made project.
                </p>
                <div id="video" class="video1"></div>
            </span>
        </div>


        <div class="info">
            <h3>Background Color Changer</h3>
            <span class="containt">
                <p class="paragraph">Background Color Changer create using HTML, CSS and JavaScript.
                    This is small and beautifull project. In this project i am create a box and in this box create
                    circles filled with their background-color you click on the circle background-color change
                    as same as circle color.
                </p>
                <div id="video" class="video2"></div>
            </span>
        </div>

        <div class="info">
            <h3>Spotify Clone</h3>
            <span class="containt">
                <p class="paragraph">This is my Spotify Clone. Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Minima eveniet facere,
                    dolorem quae, amet molestias quasi quidem, velit quas soluta reprehenderit sit! Consectetur, nam.
                    Laudantium beatae distinctio temporibus assumenda rem!
                </p>
                <div id="video" class="video3"></div>
            </span>
        </div>
        <div class="info">
            <h3>ToDo List</h3>
            <span class="containt">
                <p class="paragraph">This is my ToDo list I am add my task on my ToDo list.
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit expedita cum ullam deserunt, totam
                    maxime modi quo. Eum ipsum hic consectetur odit illum enim! Ab autem reprehenderit architecto amet
                    minima.

                </p>
                <div id="video" class="video4"></div>
            </span>
        </div>


    </div>

    <%- include("includes/footer.ejs") %>
</body>

</html>
